<nb-layout windowMode>
  <nb-layout-column>
    <nb-select [(selected)]="selectedItem">
      <nb-option value="0">Option 0</nb-option>
      <nb-option value="1">Option 1</nb-option>
      <nb-option value="2">Option 2</nb-option>
      <nb-option value="3">Option 3</nb-option>
      <nb-option value="4">Option 4</nb-option>
    </nb-select>

    <nb-select [(selected)]="selectedItem">
      <nb-option value="0">Choice 0</nb-option>
      <nb-option value="1">Choice 1</nb-option>
      <nb-option value="2">Choice 2</nb-option>
      <nb-option value="3">Choice 3</nb-option>
      <nb-option value="4">Choice 4</nb-option>
    </nb-select>

    <nb-select [(selected)]="selectedItem">
      <nb-option value="0">Date 0</nb-option>
      <nb-option value="1">Date 1</nb-option>
      <nb-option value="2">Date 2</nb-option>
      <nb-option value="3">Date 3</nb-option>
      <nb-option value="4">Date 4</nb-option>
    </nb-select>

    <nb-select [(selected)]="selectedItem">
      <nb-option value="0">Time 0</nb-option>
      <nb-option value="1">Time 1</nb-option>
      <nb-option value="2">Time 2</nb-option>
      <nb-option value="3">Time 3</nb-option>
      <nb-option value="4">Time 4</nb-option>
    </nb-select>

    <div style="height: 1000px;"></div>
  </nb-layout-column>
</nb-layout>
